---
import MainLayout from "@/layouts/MainLayout.astro";

// esto se ejecuta luego del middleware
// console.log("Ejecutando desde Home Page luego del middleware");
---

<MainLayout title="Welcome to Astro.">
  <h1 class="text-3xl">Curso Fernando Herrera</h1>
  <p>
    Este proyecto demuestra la integración de Firebase para la autenticación de
    usuarios y Astro para el desarrollo de una interfaz web optimizada. Firebase
    proporciona una solución segura para gestionar el acceso de los usuarios,
    permitiendo un inicio de sesión sencillo y protegido. Astro, por su parte,
    asegura que la experiencia del usuario sea rápida y eficiente, con una
    interfaz moderna y fluida.
  </p>
</MainLayout>
